.left-panel {
  height: calc(100% - 75px);
}

.chat-list {
  height: calc(100%);
}

.right-panel {
  height: calc(100% - 90px);
  background-color: rgb(219, 237, 253);
}

:host ::ng-deep nb-user.shape-round .user-picture {
  border: 0.5px solid #4e629b;
}

:host ::ng-deep nb-layout-column {
  padding: 1rem 1rem 0.50rem !important;
}

:host nb-chat {
  margin: 6px;
  height: 99%;
}